:root {
  --color-pink: #f16393;
  --color-blue: #92d8d6;
  --color-muted: #d2cac8;
  --color-light-pink: #ffddde;
  --color-yellow: #fec838;
  --color-white: #ffffff;
  --color-black: #212121;
}

@font-face {
  font-display: swap;
  font-family: "Playpen Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/playpen-sans-v21-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Playpen Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/playpen-sans-v21-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Playpen Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/playpen-sans-v21-latin-700.woff2") format("woff2");
}

body,
p {
  margin: 0;
  padding: 0;
  font-family: "Playpen Sans", cursive;
}

.primary-container {
  max-width: 1400px;
  margin: auto;
  padding: 16px;
}

/* ====== Announcement Bar ====== */
.header-announcement {
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 10px;
  text-align: center;
  font-weight: 700;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}

/* ====== Header Main Layout ====== */
.header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 2rem;
  gap: 0.75rem;
}

/* Logo */
.header-logo {
  max-width: 200px;
  height: auto;
  display: block;
}

/* Social Icons */
.header-socials {
  display: flex;
  gap: 10px;
}

.header-socials img {
  width: 18px;
  height: 18px;
}

.header-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: var(--color-light-pink);
  padding: 10px 0;
}

.header-navigation a {
  color: var(--color-pink);
  text-decoration: none;
  transition: all 1s ease;
}

.header-navigation a:hover {
  text-decoration: underline;
}

/* ====== Banner Section ====== */

.banner {
  height: 100%;
}

.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-bg {
  background-image: url("../images/banner-flowers.webp"); /* or .png / .webp */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-img-container img {
  width: 50%;
  height: auto;
  display: block; /* removes tiny gaps under image */
  padding: 31px 16px;
  margin: auto;
}

.banner-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-intro h1 {
  font-weight: 700;
  font-size: 60px;
  margin: auto;
  -webkit-text-stroke: 0.7px var(--color-black);
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}

.char1,
.char6 {
  color: var(--color-pink);
}

.char2,
.char7 {
  color: var(--color-blue);
}
.char3,
.char8 {
  color: var(--color-muted);
}
.char4 {
  color: var(--color-light-pink);
}
.char5 {
  color: var(--color-yellow);
}

.banner-intro p {
  color: var(--color-black);
  font-weight: 700;
  font-size: 18px;
}

.banner-intro button {
  margin: 20px 0 32px 0;
}

/* ===== Featured Categories Section ===== */

.categories {
  background: var(--color-light-pink);
  background: rgba(252, 213, 206, 0.5);
}

.categories .primary-container {
  padding: 40px 16px;
}

.category-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin: auto;
}

.category-card {
  position: relative;
  padding: 32px;
  border-radius: 30px;
  width: 200px;
  text-align: center;
  margin: auto;
  overflow: hidden;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}

.category-card img {
  width: 100%;
  border-radius: 10px;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(176, 159, 159, 0.5); /* semi-transparent black */
  backdrop-filter: blur(2px); /* add blur to background */
  -webkit-backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.card-overlay h3 {
  font-size: 40px;
  font-weight: 700;
  -webkit-text-stroke: 1px var(--color-black);
  text-shadow: 2px 3px 5px rgba(0, 0, 0.3, 0.3);
}

.shop-btn {
  color: var(--color-black);
  border: none;
  padding: 5px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Playpen Sans", cursive;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in;
}

.shop-btn:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

/* ===== Qoute Layout ===== */

.qoute {
  position: relative;
  width: 100%;
  background-color: var(--color-blue);
  padding: 40px 0;
  min-height: 200px;
  margin-bottom: 100px;
}

.qoute-container {
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  width: 80%;
  padding: 16px;
  border-radius: 30px;
  background-color: var(--color-pink);
  color: var(--color-white);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 32px;
}

.qoute-container strong {
  font-size: 28px;
}

.qoute-btn {
  color: var(--color-black) !important;
  background-color: var(--color-yellow) !important;
  padding: 10px 15px !important;
  width: fit-content !important;
}

/* ====== Responsive Layout ====== */

@media (min-width: 425px) {
  .qoute {
    min-height: 130px;
    margin-bottom: 130px;
  }
}

@media (min-width: 768px) {
  /* ===== Header Layout ===== */
  .header-main {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .header-logo {
    max-width: 250px;
  }

  .header-navigation {
    gap: 32px;
  }

  .header-socials {
    justify-content: flex-end;
  }

  .header-socials img {
    width: 20px;
    height: 20px;
  }

  /* =====Banner Layout ===== */

  .banner-container {
    flex-direction: row;
    align-items: center;
    padding: 40px 0px;
  }

  .banner-img-container,
  .banner-intro {
    width: 50%;
  }

  .banner-img-container img {
    width: 60%;
  }

  /* ===== Featured Categories Layout =====  */

  .categories .primary-container {
    padding: 80px 16px;
  }

  /* ===== Qoute Layout =====  */
  .qoute {
    min-height: 120px;
    margin-bottom: 90px;
  }
}

@media (min-width: 1024px) {
  /* ===== Banner Layout ===== */
  .banner-container {
    padding: 15px 40px;
  }


  .banner-intro h1 {
    font-size: 80px;
  }
}
