:root {
  --color-pink: #f16393;
  --color-blue: #92d8d6;
  --color-muted: #d2cac8;
  --color-light-pink: #ffddde;
  --color-yellow: #fec838;
  --color-white: #ffffff;
  --color-black: #212121;
}

@font-face {
  font-display: swap;
  font-family: "Playpen Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/playpen-sans-v21-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Playpen Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/playpen-sans-v21-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Playpen Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/playpen-sans-v21-latin-700.woff2") format("woff2");
}

body,
p {
  margin: 0;
  padding: 0;
  font-family: "Playpen Sans", cursive;
}

.primary-container {
  max-width: 1400px;
  margin: auto;
  padding: 16px;
}

/* ====== Announcement Bar ====== */
.header-announcement {
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 10px;
  text-align: center;
  font-weight: 700;
}

/* ====== Header Main Layout ====== */
.header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 2rem;
  gap: 0.75rem;
}

/* Logo */
.header-logo {
  max-width: 200px;
  height: auto;
  display: block;
}

/* Social Icons */
.header-socials {
  display: flex;
  gap: 10px;
}

.header-socials img {
  width: 18px;
  height: 18px;
}

.header-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: var(--color-light-pink);
  padding: 10px 0;
}

.header-navigation a {
  color: var(--color-pink);
  text-decoration: none;
  transition: all 1s ease;
}

.header-navigation a:hover {
  text-decoration: underline;
}

/* ====== Banner Section ====== */

.banner {
  height: 100%;
}

.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-bg {
  background-image: url("../images/banner-flowers.webp"); /* or .png / .webp */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-img-container img {
  width: 50%;
  height: auto;
  display: block; /* removes tiny gaps under image */
  padding: 31px 16px;
  margin: auto;
}

.banner-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-intro h1 {
  font-weight: 700;
  font-size: 40px;
  margin: auto;
  -webkit-text-stroke: 0.7px var(--color-black);
}

.char1,
.char6 {
  color: var(--color-pink);
}

.char2,
.char7 {
  color: var(--color-blue);
}
.char3,
.char8 {
  color: var(--color-muted);
}
.char4 {
  color: var(--color-light-pink);
}
.char5 {
  color: var(--color-yellow);
}

.banner-intro p {
  color: var(--color-black);
  font-weight: 700;
  font-size: 18px;
}

.banner-intro button {
  margin: 20px 0 32px 0;
}

/* ===== Featured Items Section ===== */

.featured-items {
  background: var(--color-light-pink);
}

/* ====== Responsive Layout ====== */
@media (min-width: 768px) {
  /* ===== Header Layout ===== */
  .header-main {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .header-logo {
    max-width: 250px;
  }

  .header-navigation {
    gap: 32px;
  }

  .header-socials {
    justify-content: flex-end;
  }

  .header-socials img {
    width: 20px;
    height: 20px;
  }

  /* =====Banner Layout ===== */

  .banner-container {
    flex-direction: row;
    align-items: center;
  }

  .banner-img-container,
  .banner-intro {
    width: 50%;
  }

  .banner-img-container img {
    width: 90%;
  }
}
